<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FunkyNotes</title>
</head>

<body>

  <h1>FunkyNotes</h1>

  <div class="main-container">

    <div class="container">
      <div class="note-form">
        @if(LengthError==false){
        <input [(ngModel)]="modelTitle" type="text" placeholder="Title">
        <hr>
        <textarea [(ngModel)]="modelDesc" placeholder="Let me see what is on your mind!" class="textarea"></textarea>
        }

        @if(LengthError==true){
          <input class="Error" [(ngModel)]="modelTitle" type="text" placeholder="Title">
          <div class="ErrorMessage">Minimum length of the title is {{titleLengthMin}}</div>
          <hr>
          <textarea [(ngModel)]="modelDesc" placeholder="Let me see what is on your mind!" class="Error"></textarea>
          <div class="ErrorMessage">Minimum length of the description is {{descLengthMin}}</div>
          }
        <div class="LengthCheck">Current length: {{modelDesc.length}} symbols</div>
        @if(isEditChecked==false || WannaEditData==false){
        <button (click)="ProcessAddNote()" class="button">Add</button>
        }
        @if(isEditChecked==true && WannaEditData==true){
        <button (click)="ProcessSave()" class="button">Save</button>
        }

      </div>
    </div>
    <hr>
    <div class="second-part">
      <div class="note-list" cdkDropList (cdkDropListDropped)="drop($event)">
        @for (item of NoteCollection; track item) {
        @if(isEditChecked==false){
          <div class="note-item" (click)="ProcessEdit($index)">
          <div cdkDrag>
            <div>{{item.title}}</div>
          <div>{{item.description}}</div>
        </div>
        </div>
        }
        @if(isEditChecked==true){
        <div class="note-item" (click)="ProcessFinishEdit()">
          <div cdkDrag>
            <div>{{item.title}}</div>
          <div>{{item.description}}</div>
        </div>
        </div>
        @if($index==SelectedNoteCounter){
        <hr>
        <button (click)="ProcessNoteEdit(item, $index)" class="button">Edit</button>
        <button (click)="ProcessNoteDelete(item)" class="button">Delete</button><br>
        }
        }
        }
      </div>
    </div>

  </div>

</body>

</html>